{% extends 'account/base.html' %}


{% block content %}
<div class="card custom-card text-white">
  <div class="card-body p-5">
    <h3 class="card-title mb-5">Package confirmation</h3>
    <p class="card-text">Buy {{coinpack.coins}} Coins with offer of {{coinpack.offer}}%</p>
    <p class="card-text">Real Price : ₹ {{coinpack.total_price}}</p>
    <h4 class="card-text my-4">Price to Pay : ₹{{coinpack.price_after_offer}}  </h4>
    <div class="text-center py-3">
      {{form.render}}
      <a href="{% url 'coins' %}">
          <button class="btn btn-danger mt-3">Cancel </button>
      </a>
    </div>
  </div>
</div>
{% endblock  %}
