{% extends 'adminpanel/layout.html' %}

{% block content %}
<div class="container mx-auto mt-8 grid grid-cols-4 gap-4">
    <!-- Card 1 --> 
    {% for coin in coins %}
        <div class="bg-gray-500 p-6 rounded-lg shadow-md flex justify-between">
            <div>
                <h2 class="text-xl font-semibold mb-2 text-black">{{coin.coins}} Coins</h2>
                <p>Offer : {{coin.offer}}</p>
                {% if coin.price_after_offer == coin.total_price  %}
                    <p>  ₹{{coin.price_after_offer}}</p>
                {% else %}
                    <p><span class="line-through">₹{{coin.total_price}}</span>  ₹{{coin.price_after_offer}}</p>
                {% endif %}
                
            </div>
            <a href="{% url 'delete-coins' coin.id %}" >
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">Delete</button>
            </a>
        </div>   
    {% endfor %}
    
   
    <!-- Add more cards as needed -->
</div>
<form method="POST">
    {% csrf_token %}
    <div class="bg-gray-300 p-6 rounded-lg shadow-md mt-4 flex justify-between items-center" style="max-width: 350px;">
        <div>
            <div>
                <h2 class="font-semibold mb-2 text-black">Coins package</h2>
                <input type="number" name="coins" class="border border-gray-300 p-2 mb-2 rounded w-full text-black" placeholder="Coins" required>
            </div>
            <div>
                <h2 class="font-semibold mb-2 text-black">Offer</h2>
                <input type="number" name="offer" class="border border-gray-300 p-2 mb-2 rounded w-full text-black" placeholder="Offer Percentage" required min="0" max="99">
            </div>
        </div>
        <button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600">Add</button>    
    </div>
</form>


<h3 class="text-sm font-medium tracking-widest text-gray-900 uppercase lg:text-base my-8">
    Pack Purchase History
</h3>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    User 
                </th>
                <th scope="col" class="px-6 py-3">
                    No. Coins
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Transaction Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a href="{% url 'user-details' transaction.user.id %}" class="text-fuchsia-500">{{transaction.user.username}}</a> 
                    </th>
                    <td class="px-6 py-4">
                        {{transaction.coins_pack.coins}}
                    </td>
                    <td class="px-6 py-4">
                        {{transaction.coins_pack.price_after_offer}}
                    </td>
                    <td class="px-6 py-4">
                        {{transaction.transaction_id}}
                    </td>
                    <td class="px-6 py-4">
                        {% if transaction.status  %} <span class="text-lime-500"> Success </span> {% else %} <span class="text-red-600"> Failed </span> {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>

{% endblock  %}